body {
    background: blue;
}


/* @font-face {
    font-family: 'MyFont';
    src: url('../fonts/Mosk\ Typeface/Mosk\ Normal\ 400.ttf') format('ttf'), url('../fonts/Mosk\ Typeface/Mosk\ Light\ 300.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
} */

.hello {
    color: red;
    /* font-family: 'MyFont'; */
    background: url('../images/astronaut.png');
}